h1{
    color: red;
}
 w-100{
    width: 100px;
 }
  h-100 {
    height: 100;
  }
   cobe {
    width: 100;
    height: 100;
    background: #dedede;
   }
    hh-100{
        line-height: 100px;
    }
    .black{
        width: 100px;
        height: 100px;
        background-color: #dedede;
        text-align: center;
        line-height: 100px;
    }